/portfolio/node_modules/
/portfolio/.next/
/portfolio/.turbo/
/portfolio/dist/
/portfolio/.idea/
/portfolio/.vscode/
/portfolio/.env*
/portfolio/.env.local
/portfolio/.env.development.local
/portfolio/.env.test.local
/portfolio/.env.production.local
/portfolio/npm-debug.log*
/portfolio/yarn-debug.log*
/portfolio/yarn-error.log*
/portfolio/.DS_Store
/portfolio/.next/
/portfolio/out/
/portfolio/build/
